<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') %>
        
</head>

<body style="margin-top: 300px;" id="body">
    <div id="layer"></div>
    <!-- HEADER -->
    <div style="z-index: 100;top:0;position: fixed; width: 100%;" onmouseleave="showResult('');">
    <header >
        <!-- TOP HEADER -->
        <div id="top-header">
            <div class="container">
                <ul class="header-links pull-left">
                    <li><a href="/propos"><i class="fa fa-phone"></i>123-456-7890</a></li>
                    <li><a href="/propos"><i class="fa fa-envelope-o"></i> jaimejouets-contact@outlook.com</a></li>
                    <li><a href="/propos"><i class="fa fa-map-marker"></i> Centropolis</a></li>
                </ul>
                <ul class="header-links pull-right">
                    <li><a href="#"><i class="fa fa-dollar"></i> CAD</a></li>
                    <li><a href="/login"><i class="fa fa-user-o"></i><%=username%></a></li>
                </ul>
            </div>
        </div>
        <!-- /TOP HEADER -->

        <!-- MAIN HEADER -->
        <div id="header">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- LOGO -->
                    <div class="col-md-3">
                        <div class="header-logo">
                            <a href="/" class="logo" style="color:white">
                                <img src="../img/Logo-ourson.png" width="30%" height="35%" alt="">
                                J'aime Jouets
                            </a>
                        </div>
                    </div>
                    <!-- /LOGO -->
  
                    <!-- SEARCH BAR -->                    <div class="col-md-6">
                        <div class="header-search">
                            <form action="/rechercher" method="get">
                                <select id="marqueRecherche" class="input-select" name="marque" onchange="showResult(q.value,this.value)" data-recherche=<%=recherche%> data-marque='<%=marque%>' data-query='<%=q%>'>
                                    <option value="">Tous les marques</option>
                                    <option value="Barbie">Barbie</option>
                                    <option value="Vtech">Vtech</option>
                                    <option value="Lego">Lego</option>
                                    <option value="Hot Wheels">Hot Wheels</option>
                                    <option value="Fisher-Price">Fisher-Price</option>

                                </select>
                                <input name="q" id="placeDeRecherche" class="input" placeholder="Rechercher ici"
                                    onkeyup="showResult(this.value,marque.value)">
                                    <input id="nbrePage" type="hidden" name="nbrePage" class="input">
                                    <input id="filtrePrix" type="hidden" name="filtrePrix" class="input">
                                    <button id="bouttonRecherche" class="search-btn" onclick="soumettre()">Rechercher</button>
                                
                            </form>
                        </div>
                        <div id="livesearch"style="display: block;" ></div>
                    </div>
                    <!-- /SEARCH BAR -->

                    <!-- ACCOUNT -->
                    <div class="col-md-3 clearfix">
                        <div class="header-ctn">
                            <!-- Wishlist -->
                            <div>
                                <a href="#">
                                    <i class="fa fa-heart-o"></i>
                                    <span>Mes souhaits</span>
                                    <div class="qty">2</div>
                                </a>
                            </div>
                            <!-- /Wishlist -->

                            <!-- Cart -->
                            <div class="dropdown" id="panier"></div>
                            <!-- /Cart -->                              
        
                            <!-- Menu Toogle -->
                            <div class="menu-toggle">
                                <a href="#">
                                    <i class="fa fa-bars"></i>
                                    <span>Menu</span>
                                </a>
                            </div>
                            <!-- /Menu Toogle -->
                        </div>
                    </div>
                    <!-- /ACCOUNT -->
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- /MAIN HEADER -->
    </header>

    <!-- /HEADER -->
    <%- include ('../partials/navbar') %>