<%- include ('../partials/header') %>

    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <div class="col-md-7">
                    <!-- Billing Details -->
                    <form action="/commander" method="post">
                    <div class="billing-details">
                        <div class="section-title">
                            <h3 class="title">DÉTAILS DU CONTACT</h3>
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="first-name" placeholder="Prénom" required
                                oninvalid="this.setCustomValidity('Veuillez entrer votre Prénom ici')"
                                oninput="this.setCustomValidity('')">
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="last-name" placeholder="Nom" required
                                oninvalid="this.setCustomValidity('Veuillez entrer votre nom ici')"
                                oninput="this.setCustomValidity('')">
                        </div>
                        <div class="form-group">
                            <input class="input" type="email" name="email" placeholder="Email" required
                                oninvalid="this.setCustomValidity('Veuillez entrer votre courriel ici')"
                                oninput="this.setCustomValidity('')">
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="address" placeholder="Adresse" required
                                oninvalid="this.setCustomValidity('Veuillez entrer votre addresse ici')"
                                oninput="this.setCustomValidity('')">
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="city" placeholder="Ville" required
                            oninvalid="this.setCustomValidity('Veuillez entrer votre ville ici')"
                            oninput="this.setCustomValidity('')">
                        </div>
                        <div class="form-group">
                            <select class="input">
                                <option class="select-option" label="Alberta" value="AB">Alberta</option>
                                <option class="select-option" label="Colombie-Britannique" value="BC">Colombie-Britannique</option>
                                <option class="select-option" label="Manitoba" value="MB">Manitoba</option>
                                <option class="select-option" label="Nouveau-Brunswick" value="NB">Nouveau-Brunswick</option>
                                <option class="select-option" label="Terre-Neuve-et-Labrador" value="NL">Terre-Neuve-et-Labrador</option>
                                <option class="select-option" label="Territoires du Nord-Ouest" value="NT">Territoires du Nord-Ouest</option>
                                <option class="select-option" label="Nouvelle-Écosse" value="NS">Nouvelle-Écosse</option>
                                <option class="select-option" label="Nunavut" value="NU">Nunavut</option>
                                <option class="select-option" label="Ontario" value="ON">Ontario</option>
                                <option class="select-option" label="L'Île-du-Prince-Édouard" value="PE">l'Île-du-Prince-Édouard</option>
                                <option class="select-option" label="Québec" value="QC">Québec</option>
                                <option class="select-option" label="Saskatchewan" value="SK">Saskatchewan</option>
                                <option class="select-option" label="Yukon" value="YT">Yukon</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="zip-code" placeholder="Code postal" required
                                oninvalid="this.setCustomValidity('Veuillez entrer votre code postal ici')"
                                oninput="this.setCustomValidity('')">
                        </div>
                        <div class="form-group">
                            <input class="input" type="tel" name="tel" placeholder="Telephone" required
                                oninvalid="this.setCustomValidity('Veuillez entrer votre numéro de téléphone ici')"
                                oninput="this.setCustomValidity('')">
                        </div>

                    </div>
                    <!-- /Billing Details -->



                    <!-- Order notes -->
                    <div class="order-notes">
                    </div>
                    <!-- /Order notes -->
                </div>

                <!-- Order Details -->
                <div class="col-md-5 order-details">
                    <div class="section-title text-center">
                        <h3 class="title">Votre Commande</h3>
                    </div>
                    <div class="order-summary">
                        <div class="order-col">
                            <div><strong>PRODUIT</strong></div>
                            <div><strong>TOTAL</strong></div>
                        </div>
                        <div class="order-products">
                            <%panier.produits.forEach(function(produit) { %>
                                <div class="order-col">
                                    <div>
                                        <%=produit.qty%>x <%=produit.nom%>
                                    </div>
                                    <div>
                                        <%=produit.prix * produit.qty%>$
                                    </div>
                                </div>
                                <%})%>
                        </div>
                        <div class="order-col">
                            <div>expédition</div>
                            <div><strong>GRATUIT</strong></div>
                        </div>
                        <div class="order-col">
                            <div><strong>SOUS-TOTAL</strong></div>
                            <div><strong class="order-total">
                                    <%=panier.formattedSousTotals%>
                                </strong></div>
                        </div>
                        <div class="order-col">
                            <div>TPS(5%)</div>
                            <div><strong>
                                    <%=classPanier.formattedTotals(panier.TPS)%>
                                </strong></div>
                        </div>
                        <div class="order-col">
                            <div>TVQ(9.975%)</div>
                            <div><strong>
                                    <%=classPanier.formattedTotals(panier.TVQ)%>
                                </strong></div>
                        </div>

                        <div class="order-col">
                            <div><strong>TOTAL</strong></div>
                            <div><strong class="order-total">
                                    <%=panier.formattedTotals%>
                                </strong></div>
                        </div>
                    </div>
                    <div class="payment-method">
                        <div class="input-radio">
                            <input type="radio" name="payment" id="payment-1">
                            <label for="payment-1">
                                <span></span>
                                Direct Bank Transfer
                            </label>
                            <div class="caption">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <div class="input-radio">
                            <input type="radio" name="payment" id="payment-2">
                            <label for="payment-2">
                                <span></span>
                                Cheque Payment
                            </label>
                            <div class="caption">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <div class="input-radio">
                            <input type="radio" name="payment" id="payment-3">
                            <label for="payment-3">
                                <span></span>
                                Paypal System
                            </label>
                            <div class="caption">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                    <button class="primary-btn order-submit">Placer Commande</button></div>
                </div>
            </form>

                <!-- /Order Details -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
    <%- include ('../partials/footer') %>