<%- include ('../partials/header') %>


    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <!--Product main img -->
                <div class="col-md-5 col-md-push-2">
                    <div id="product-main-img">
                        <div class="product-preview">
                            <img src="../img/<%=produit.numid %>/<%=produit.numid %>-1.jpg" alt="">
                        </div>

                        <div class="product-preview">
                            <img src="../img/<%=produit.numid %>/<%=produit.numid %>-2.jpg" alt="">
                        </div>

                        <div class="product-preview">
                            <img src="../img/<%=produit.numid %>/<%=produit.numid %>-3.jpg" alt="">
                        </div>

                    </div>
                </div>


                <!-- Product main img -->
                <div class="col-md-2  col-md-pull-5">
                    <div id="product-imgs">
                        <div class="product-preview">
                            <img src="../img/<%=produit.numid %>/<%=produit.numid %>-1.jpg" alt="">
                        </div>

                        <div class="product-preview">
                            <img src="../img/<%=produit.numid %>/<%=produit.numid %>-2.jpg" alt="">
                        </div>

                        <div class="product-preview">
                            <img src="../img/<%=produit.numid %>/<%=produit.numid %>-3.jpg" alt="">
                        </div>

                    </div>
                </div>
                <!-- Product thumb imgs -->

                <!-- Product details -->
                <div class="col-md-5">
                    <div class="product-details">
                        <h2 class="product-name">
                            <%=produit.nom %>
                        </h2>
                        <div>
                            <div class="product-rating">
                                    <%for(var j=0; j < average;j++ ){%>
                                        <i class="fa fa-star"></i>
                                        <%}for(var k=1; k < 5-average; k++ ){%>
                                            <i class="fa fa-star-o"></i>                                                         
                                    <%}%>
                            </div>
                            <a class="review-link">
                                <%=produit.commentaire.length %> Commentaire(s)
                            </a>
                        </div>
                        <div>
                            <h3 class="product-price">$
                                <%=produit.prix %>
                            </h3>
                            <span class="product-available">En Stock</span>
                        </div>
                        <p>
                            <%=produit.description %>
                        </p>

                        <div class="add-to-cart">
                            <div class="qty-label">
                                Qty
                                <div class="input-number">
                                    <input type="number" id="quantite" value="1">
                                    <span class="qty-up">+</span>
                                    <span class="qty-down">-</span>
                                </div>
                            </div>
                            <button class="add-to-cart-btn"
                                onclick='ajoutAuPanier("<%=produit.nom%>","./img/<%=produit.numid %>/<%=produit.numid %>-1.jpg","<%=produit.numid%>","<%=produit.prix %>",quantite.value);'><i
                                    class="fa fa-shopping-cart"></i>Ajouter au panier</button>
                        </div>

                        <ul class="product-btns">
                            <li><a href="#"><i class="fa fa-heart-o"></i>Ajouter à la liste de souhaits</a></li>
                        </ul>

                        <ul class="product-links">
                            <li>Categorie:</li>
                            <li>
                                <a href="../produits?filtre=<%=produit.categories_id[0].nom %>">
                                    <%=produit.categories_id[0].nom %> ans
                                </a>
                            </li>
                        </ul>

                        <ul class="product-links">
                            <li>Partager:</li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                        </ul>

                    </div>
                </div>
                <!-- /Product details -->

                <!-- Product tab -->
                <div class="col-md-12" >
                    <div id="product-tab">
                        <!-- product tab nav -->
                        <ul class="tab-nav">
                            <li class="active"><a data-toggle="tab" href="#tab1-">Description</a></li>
                            <!--<li><a data-toggle="tab" href="#tab2">Details</a></li>-->
                            <li><a data-toggle="tab" href="#tab2-">Commentaires <%=produit.commentaire.length %></a></li>
                        </ul>
                        <!-- product tab nav -->

                        <!-- product tab content -->
                        <div class="tab-content">
                            <!-- tab1  -->
                            <div id="tab1-" class="tab-pane fade in active">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>
                                            <%=produit.description %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- tab1  -->

                            <!-- tab3  -->
                            <div id="tab2-" class="tab-pane fade in">
                                <div class="row">
                                    <!-- Rating -->
                                    <div class="col-md-3">
                                        <div id="rating">
                                            <div class="rating-avg">
                                                <span><%=average %></span>
                                                <div class="rating-stars">
                                                    <%for(var j=0; j < average;j++ ){%>
                                                        <i class="fa fa-star"></i>
                                                        <%}for(var k=1; k < 5-average; k++ ){%>
                                                            <i class="fa fa-star-o"></i>                                                         
                                                    <%}%>

                                                </div>
                                            </div>
                                            <ul class="rating">
                                                <li>
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <div class="rating-progress">
                                                        <div id="progres5" data-progres = <%= (produit.evaluations[5]/sommeTotal)*100 %> ></div>
                                                    </div>
                                                    <span class="sum">
                                                        <%=produit.evaluations[5] %>
                                                    </span>
                                                </li>
                                                <li>
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                    <div class="rating-progress">
                                                        <div id="progres4" data-progres = <%= (produit.evaluations[4]/sommeTotal)*100 %>></div>
                                                    </div>
                                                    <span class="sum">
                                                        <%=produit.evaluations[4] %>
                                                    </span>
                                                </li>
                                                <li>
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                    <div class="rating-progress">
                                                        <div id="progres3" data-progres = <%= (produit.evaluations[3]/sommeTotal)*100 %>></div>
                                                    </div>
                                                    <span class="sum">
                                                        <%=produit.evaluations[3] %>
                                                    </span>
                                                </li>
                                                <li>
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                    <div class="rating-progress">
                                                        <div  id="progres2" data-progres = <%= (produit.evaluations[2]/sommeTotal)*100 %>></div>
                                                    </div>
                                                    <span class="sum">
                                                        <%=produit.evaluations[2] %>
                                                    </span>
                                                </li>
                                                <li>
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                    <div class="rating-progress">
                                                        <div id="progres1" data-progres = <%= (produit.evaluations[1]/sommeTotal)*100 %>></div>
                                                    </div>
                                                    <span class="sum">
                                                        <%=produit.evaluations[1] %>
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- /Rating -->

                                    <!-- Reviews -->
                                    <div class="col-md-6">
                                        <div id="reviews">
                                            <ul class="reviews">
                                                <div class="tab-content">
                                                <% if(nbrePages!=0){%>
                                                    <% for(var l=0, j=0; l< nbrePages; l++){%>
                                                        <!--on s assure que par defaut la page 1 est activee-->
                                                        <%if(l==0){%>
                                                            <div id="tab<%=l+1%>" class="tab-pane fade in active">
                                                                <%}else{%>
                                                                    <div id="tab<%=l+1%>" class="tab-pane fade">
                                                                        <%}%>
                                                            <% for(var k=0; k< 3 && j < produit.commentaire.length;j++,k++){ %>  
                                                            <li>
                                                            <div class="review-heading">
                                                                <h5 class="name">
                                                                    <%= produit.commentaire[j].nom%>
                                                                </h5>
                                                                <p class="date">
                                                                    <%= produit.commentaire[j].date%>
                                                                </p>
                                                                <div class="review-rating">
                                                                    <%for(var q=0; q < produit.commentaire[j].evaluation;q++ ){%>
                                                                        <i class="fa fa-star"></i>
                                                                        <%}for(var e=0; e < 5-produit.commentaire[j].evaluation; e++ ){%>
                                                                            <i class="fa fa-star-o empty"></i>
                                                                            <%}%>
                                                                </div>
                                                            </div>
                                                            <div class="review-body">
                                                                <p>
                                                                    <%= produit.commentaire[j].commentaire%>
                                                                </p>
                                                            </div>
                                                        </li>

                                                        <% }%>
                                                    </div>
                                                        <% }%>
                                                        <%}else{%>
                                                            <h4 style="text-align: center;">Soyez le premier à commenter
                                                            </h4>
                                                            <% }%>
                                                        </div>

                                            </ul>
                                            <ul class="reviews-pagination">
                                                <%= page %>
                                                <% var page=1;%>
                                                <%if(nbrePages>1){%>
                                                    <li id="gauche" data-toggle="tab" value='1' href="#tab1" onclick="changerPageGauche(this.value)" style="visibility: hidden;"><i
                                                            class="fa fa-angle-left"></i></li>
                                                    <%}%>
                                                <% for(var i=0; i< nbrePages; i++){%>
                                                    <!--on s assure que par defaut la page 1 est activee-->
                                                    
        
                                                    <%if(i==0){%>
                                                        <li class="active" value='<%=i+1%>' data-toggle="tab" href="#tab<%=i+1%>" onclick="changerPage2(this.value)">
                                                            <%=i+1%>
                                                        </li>
                                                        <%}else{%>
                                                            <li data-toggle="tab" value='<%=i+1%>' href="#tab<%=i+1%>" onclick="changerPage2(this.value)">
                                                                <%=i+1%>
                                                            </li>
                                                            <%}}%>
                                                                <%if(nbrePages>1){%>
                                                                    <li id="droite" data-toggle="tab" value='1' data-page="<%=nbrePages%>" href="#tab1" onclick="changerPageDroite(this.value)"><i
                                                                            class="fa fa-angle-right"></i></li>
                                                                    <%}%>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- /Reviews -->

                                    <!-- Review Form -->
                                    <div class="col-md-3">
                                        <div id="review-form">
                                            <form class="review-form" action="/produit/<%=produit.numid %>/commenter"
                                                method="post">
                                                <input class="input" type="text" name="nom" placeholder="Votre Nom"
                                                    required
                                                    oninvalid="this.setCustomValidity('Veuillez entrer votre nom ici')"
                                                    oninput="this.setCustomValidity('')">
                                                <input class="input" type="email" name="courriel"
                                                    placeholder="Votre Adresse Courriel" id="courriel" required
                                                    oninvalid="this.setCustomValidity('Veuillez entrer votre courriel ici')"
                                                    oninput="this.setCustomValidity('')">
                                                <textarea class="input" name="commentaire"
                                                    placeholder="Votre Commentaire"
                                                    oninvalid="this.setCustomValidity('Veuillez entrer votre commentaire ici')"
                                                    oninput="this.setCustomValidity('')"></textarea>
                                                <div class="input-rating">
                                                    <span>Votre Évaluation: </span>
                                                    <div class="stars">
                                                        <input id="star5" name="rating" value="5" type="radio"
                                                            required><label for="star5"></label>
                                                        <input id="star4" name="rating" value="4" type="radio"
                                                            required><label for="star4"></label>
                                                        <input id="star3" name="rating" value="3" type="radio"
                                                            required><label for="star3"></label>
                                                        <input id="star2" name="rating" value="2" type="radio"
                                                            required><label for="star2"></label>
                                                        <input id="star1" name="rating" value="1" type="radio"
                                                            required><label for="star1"></label>
                                                    </div>
                                                </div>
                                                <button class="primary-btn">Soumettre</button>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- /Review Form -->
                                </div>
                            </div>
                            <!-- /tab3  -->
                        </div>
                        <!-- /product tab content  -->
                    </div>
                </div>
                <!-- /product tab -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->

    <!-- Section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h3 class="title">Produits de même marque</h3>
                    </div>
                </div>

                <!-- product -->

                <% produitsDeMemeMarque.forEach(function(produit) { %>
                    <div class="col-md-3 col-xs-6">
                        <a href="<%=produit.numid%>">
                            <div class="product">
                                <div class="product-img">
                                    <!--on place le id du produit pour pouvoir chercher la route vers son image-->
                                    <img src="../img/<%=produit.numid %>/<%=produit.numid %>-1.jpg" alt="">
                                    <div class="product-label">

                                        <span class="new">NOUVEAU</span>
                                    </div>
                                </div>
                                <div class="product-body">
                                    <!--on place la marque du produit-->

                                    <p class="product-category">par
                                        <%=produit.marques_id[0].Nom%>
                                    </p>
                                    <!--on place le nom du produit-->

                                    <h3 class="product-name">
                                        <a href="<%=produit.numid%>">
                                            <%=produit.nom %>
                                        </a>

                                    </h3>
                                    <!--on place le prix du produit-->

                                    <h4 class="product-price">$
                                        <%=produit.prix %>
                                            <!--<del class="product-old-price">$990.00</del>-->
                                    </h4>
                                    <!--on place la categorie d age du produit-->

                                    <p class="product-category">pour
                                        <%=produit.categories_id[0].nom %> ans
                                    </p>
                                    <div class="product-rating">
                                        <%for(var l=0; l < produit.moyen ;l++ ){%>
                                            <i class="fa fa-star"></i>
                                            <%}for(var m=1; m < 5-produit.moyen; m++ ){%>
                                                <i class="fa fa-star-o"></i>                                                         
                                        <%}%>
                                    </div>
                                    <div class="product-btns">
                                        <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span
                                                class="tooltipp">Ajouter à la liste de souhaits</span></button>


                                    </div>
                                </div>
                                <div class="add-to-cart">
                                    <button class="add-to-cart-btn"
                                        onclick='ajoutAuPanier("<%=produit.nom%>","./img/<%=produit.numid %>/<%=produit.numid %>-1.jpg","<%=produit.numid%>","<%=produit.prix %>");'><i
                                            class="fa fa-shopping-cart"></i>Ajouter au panier</button>
                                </div>
                            </div>
                        </a>
                    </div>
                    <%}); %>
                        <!-- /product -->


                        <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /Section -->

        <%- include ('../partials/footer') %>